<html>
<head>
	<title>HN Hire Sort</title>
	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<header class='main-header'>
		<div class='main-container'>
			<div class='header-text'>
				<img src="/images/briefcase@2x.png">
				<h2>{{title}} / {{month}}</h2>
			</div>
		</div>
	</header>
	<div class='main-container'>
		{{!-- Main Filter Bar --}}
		<div class='filter-bar'>
			<ul>
				<li><a id='location-filter' href="">All locations<span>&or;</span></a></li>
				<li><a id='job-filter' href="">All jobs<span>&or;</span></a></li>
				<li><a href="">All types<span>&or;</span></a></li>
			</ul>
			<hr>
		</div>
		{{!-- Sub filter bars --}}
		<div id='sub-filter-location' class='sub-filter-bar'>
			<ul>
				<li>San Francisco</li>
				<li>Toronto</li>
				<li>New York City</li>
			</ul>
		</div>
		<div id='sub-filter-job' class='sub-filter-bar'>
			<ul>
				<li>Full stack engineer</li>
				<li>Front end engineer</li>
				<li>Back end engineer</li>
			</ul>
		</div>
		<ul class="listings">
			{{#each listings}}
				<li class="listing">
					<h3>{{{this.category}}}</h3>
					<p>{{{this.description}}}</p>
					<ul>
						{{!-- TODO: Show link to posts --}}
						<li><p>4 HN comments</p></li>
						<li>|</li>
						{{!-- TODO: Get date of post --}}
						<li><p>Posted 7 days ago</p></li>
					</ul>
				</li>
			{{/each}}
		</ul>
	</div>

	<script type="text/javascript" src="/javascripts/main.js"></script>
</body>
</html>