<html>
<head>
	<title>HN Hire Sort</title>
	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<header class='main-header'>
		<img src="/images/briefcase.png">
		<h2>{{title}} / {{month}}</h2>
	</header>
	<div class='filter-bar'>
	</div>
	<ul class="listings">
		{{#each listings}}
			<li class="listing">
				<h3>{{this.category}}</h3>
				<p>{{this.description}}</p>
			</li>
		{{/each}}
	</ul>
</body>
</html>