body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Fonts */
/* Apercu Light */
@font-face {
	font-family: "Apercu Light";
	font-style: normal;
	font-weight: 400;
	src: local("Apercu Light"), 
				url("ap-light.woff") format("woff"),
				url("ap-light.ttf") format("truetype");
}

/* Apercu Bold */
@font-face {
	font-family: "Apercu Bold";
	font-style: normal;
	font-weight: 400;
	src: local("Apercu Bold"), 
				url("ap-bold.woff") format("woff"),
				url("ap-bold.ttf") format("truetype");
}

/* Common elements */
a {
  text-decoration: none;
}

* {
	box-sizing: border-box;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style-type: none;
}

/* Layout */
.main-container {
	margin: 0 auto;
	max-width: 660px;
}

/* Header styling */
.main-header {
	background-color: #F5F5F5;
	height: 92px;
	padding: 0 8%;
}

.main-header .main-container {
	display: table;
	height: 100%;
	width: 100%;
}

.header-text {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	width: 100%;
}

.main-header img {
	float: left;
	height: 22px;
	width: 23px;
}

.main-header h2 {
	color: #FF6801;
	margin: 0 0 0 35px;
	font-size: 17px;
	font-family: "Apercu Bold";
	line-height: 25px;
}

/* Filter bar */
.filter-bar {
	height: 85px;
	display: table;
	width: 100%;
}

.filter-bar ul {
	display: table-cell;
	vertical-align: middle;
}

.filter-bar ul li {
	color: #999999;
	display: inline-block;
	font-family: "Apercu Light";
	font-size: 17px;
}

.filter-bar ul li span {
	padding-left: 10px;
}

.filter-bar ul li a {
	color: #999999;
}

.filter-bar ul li:not(:last-child) {
	margin-right: 35px;
}

.filter-bar ul li .show {
	display: none;
}

.filter-bar ul li a.active span {
	display: none;
}

.filter-bar ul li a.active .show {
	display: inline;
}

/* Sub filter bar */
.sub-filter-bar {
	display: none;
	height: 40px;
	padding-bottom: 38px;
}



/* Post Listings */

.listings {
	padding: 0;
}

.listings .listing {
	padding: 5%;
	max-width: 660px;
	margin: 0 auto;
}

.listings .listing p {
	font-family: "Apercu Light";
	font-size: 15px;
	line-height: 25px;
}

.listings .listing h3 {
	font-family: "Apercu Bold";
	font-size: 17px;
	line-height: 27px;
}

.listings .listing ul li {
	opacity: 0.4;
	display: inline-block;
}

.listings .listing ul li p {
	font-size: 13px;
}

footer {
	font-family: "Apercu Light";
	padding: 0 0 0 5%;
}
